<header>
  <p><a href="javascript:;" onclick="logout()">로그아웃</a></p>
  <br/>

  <p><a href="/board_manage">게시판 관리</a></p>
  <br/>
</header>
<br/>

<nav>
  <% for (const el of board_list) { %>
    <div class="board-list">
      <p><a href="/board?b_id=<%= el.b_id %>&u_no=1"><%= el.b_name %></a></p>
    </div>
  <% } %>
</nav>
<br/>