<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./layouts/head') %>
    <title>회원 가입</title>
  </head>
  <body>
    <h1>회원 가입</h1>
    <br/>

      <p>아이디</p>
      <br/>

      <input
      type="text"
      id="user_id"/>
      <br/>

      <p>비밀번호</p>
      <br/>

      <input
      type="password"
      id="user_pwd"/>
      <br/>

      <button
      onclick="signup()">
      회원 가입
      </button>
      <br/>

    <script>
      function signup() {
        const data = {
          user_id: $('#user_id').val().trim(),
          user_pwd: $('#user_pwd').val().trim()
        };

        if (!data.user_id) {
          alert('아이디를 입력해주세요');
          return;
        }

        if (!data.user_pwd) {
          alert('비밀번호를 입력해주세요');
          return;
        }

        apiPost('/api/auth/signup', data, function (data) {
          if (data.result_code === 'SUCCESS') {
            location.href = '/login';
          }
        },
        function (error) {
          if (error) {
            alert(error.message);
          }
        });
      }
    </script>
  </body>
</html>
