<!-- 로그인 앤드포인트와 기능은 아직 구현하지 못 했습니다. -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./layouts/head') %>
    <title>로그인</title>
  </head>
  <body>
    <h1>로그인</h1>
    <br/>

      <p>아이디</p>
      <br/>

      <input
      type="text"
      id="user_id"/>
      <br/>

      <p>비밀번호</p>
      <br/>

      <input
      type="password"
      id="user_pwd"/>
      <br/>

      <button
      onclick="signin()">
      로그인
      </button>
      <br/>

    <script>
      function signin() {
        const data = {
          user_id: $('#user_id').val().trim(),
          user_pwd: $('#user_pwd').val().trim()
        };

        if (!data.user_id) {
          alert('아이디를 입력해주세요');
          return;
        }

        if (!data.user_pwd) {
          alert('비밀번호를 입력해주세요');
          return;
        }

        apiPost('/api/auth/signin', data, function (data) {
          console.log(data);
          console.log(data[0].result_code.result_code);
          console.log(data[0].access_token.accessToken);
          if (data[0].result_code.result_code === 'SUCCESS') {
            setCookie('access-token', data[0].access_token.accessToken);
            localStorage.setItem('access-token', data[0].access_token.accessToken);
            location.href = '/';
          }
        },
        function (error) {
          if (error) {
            alert(error.message);
          }
        });
      }
    </script>
  </body>
</html>
