<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./layouts/head') %>
  </head>
  <body>
    <div id="wrap">
      <div class="login">
        <div class="login-logo-box">
          <img src="../images/heartyworks_logo.png" class="login-logo-img" alt="" />
        </div>
        <p class="login_sub_txt">하티웍스의 관리자 페이지입니다.</p>
        <div class="login-form">
          <div class="form-line">
            <label class="input-label" for="mId">ID</label>
            <input class="input login-input" type="text" id="aId" />
          </div>
          <div class="form-line">
            <label class="input-label" for="mId">PW</label>
            <input class="input login-input" type="password" id="aPw" />
          </div>
          <div class="form-line">
            <button class="button login-button" onclick="signin()">로그인</button>
          </div>
          <div class="form-line">
            <button class="button login-button button-update" onclick="resetSuperAdminPassword()">슈퍼 관리자 비밀번호 초기화</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $('#aId').on('keyup', function (event) {
          if (event.keyCode === 13) {
            $('#aPw').focus();
          }
        });

        $('#aPw').on('keyup', function (event) {
          if (event.keyCode === 13) {
            signin();
          }
        });
      });

      function resetSuperAdminPassword() {
        if (confirm('슈퍼 관리자 비밀번호 초기화 메일을 전송하시겠습니까?')) {
          apiPost(
            '/api/board/reset-super-admin',
            {},
            function (data) {
              if (data.result_code === 'SUCCESS') {
                alert('비밀번호 초기화 메일을 전송했습니다.');
                location.reload();
              }
            },
            function (error) {
              if (error) {
                console.log(error);
              }
            },
          );
        }
      }

      function signin() {
        const aId = $('#aId').val().trim();
        const aPw = $('#aPw').val().trim();

        if (!aId) {
          alert('아이디를 입력해주세요');
          return;
        } else if (!aPw) {
          alert('비밀번호를 입력해주세요');
          return;
        }

        apiPost(
          '/api/board/signin',
          {
            a_id: aId,
            a_pw: aPw,
          },
          function (data) {
            if (data.result_code === 'SUCCESS') {
              setCookie(KEY_ACCESS_TOKEN, data.result_data.access_token);
              localStorage.setItem(KEY_ACCESS_TOKEN, data.result_data.access_token);
              location.href = '/board';
            }
          },
          function (error) {
            if (error) {
              if (error.statusCode === 404) {
                alert('아이디 또는 비밀번호가 일치하지 않습니다');
              }
              console.log(error);
            }
          },
        );
      }
    </script>
  </body>
</html>
